<!DOCTYPE html>
<html>
  <head>
    <title>Badminton League</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pVZ7Np2b8xTvP01xB6kBzqZfk9WTV3LV6QkjfZmU1GhJbq2QVtF3YXQ+4Wr8x7kLcqx36j8FpOzOj3r7kl3sYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="navbar">
      <%= link_to raw('<i class="fas fa-users"></i> Players'), players_path %>
      <%= link_to raw('<i class="fas fa-trophy"></i> Leaderboard'), leaderboard_path %>
      <%= link_to raw('<i class="fas fa-table-tennis"></i> Matches'), matches_path %>
      <%= link_to raw('<i class="fas fa-plus-circle"></i> Record Match'), new_match_path %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
